.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.title{
    font-weight: 700;
    font-size: 50px;
}

.content{
    font-weight: 500;
    font-size: 30px;
}

.bold {
    font-weight: 900;
}