/*********************** LAYOUT ************************/
.appContentWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.appContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  flex: 1;
}

.appHeader {
  margin-bottom: 70px;
}

.logo {
  height: 36px;
  width: auto;
  margin: 0 30px;
}

.logo-wordmark {
  color: #f76c6c;
  font-weight: 900;
  font-size: 20px;
  width: 4.5em;
}

/*************** NAV ************/

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #f3dada;
  min-height: 70px;
  padding: 0;
  position: fixed;
  width: 100%;
}

.logo_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.logo_menu h1 {
  color: antiquewhite;
  font-weight: 700;
  margin: auto 10px;
}

.buttons button {
  margin: auto 10px;
}

/***************** FOOTER ******************/

.footer {
  display: flex;
  justify-content: center;
}
