.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
}

.logo_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}